<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93965780292-09i3vafhvrggm4i4cf27nr95idvk200d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93965780292-09i3vafhvrggm4i4cf27nr95idvk200d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>93965780292-mvvnjhemrflrcvjkc9a6ua1ra1k9s7ek.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3bR8kC71zEk0nn1lBa2rED-9smnz8fCE</string>
	<key>GCM_SENDER_ID</key>
	<string>93965780292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nu.parley</string>
	<key>PROJECT_ID</key>
	<string>parley-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>parley-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93965780292:ios:60a536ba8b385110</string>
	<key>DATABASE_URL</key>
	<string>https://parley-demo.firebaseio.com</string>
</dict>
</plist>